//@default-background: #181e2a;
@default-background: #333333;
@default-color: #d2d2d2;
@default-alpha-bg: #22222288;

//@import "open_sans.less";
@import "roboto.less";
@import "roboto_mono.less";

html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: @default-background;
  color: @default-color;
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

.main-canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  font-family: 'Roboto', sans-serif;
}

.hide {
  display: none;
}

.title-wrapper {
  width: 100vw;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 0;

  pointer-events: none;

  span {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    padding: 0.25rem 1rem;
  }

  .title-input {
    background: @default-alpha-bg;
    color: @default-color;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    text-align: center;
    padding: 0.25rem 1rem;
    min-width: 2rem;

    outline: none;
    border: none;
    border-radius: 0.5rem;

    transition: width 150ms;

    pointer-events: auto;
  }
}

.toolbar {
  position: fixed;
  height: 100vh;

  border-radius: 0.5rem;

  right: 0;
  top: 0;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  pointer-events: none;

  .tool-btn {
    pointer-events: auto;
    position: relative;
    margin: 0.25rem 0;

    width: 2.5rem;
    height: 2.5rem;

    background: @default-alpha-bg;
    border-radius: 0.5rem;
    //border: 1px solid @default-color;
    //cursor: crosshair;

    transition: background-color 200ms;
  }
}

.zoom-slider {
  position: fixed;
  top: calc(calc(100% - 2.5rem * 6) / 2 * 0.2);
  right: 0.625rem;
  width: 2.25rem;
  height: calc((100% - 2.5rem * 6) / 2 * 0.65);

  background: @default-alpha-bg;
  border-radius: 0.5rem;
}

.dialog-overlay {
  background: #33333333;
  position: fixed;

  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;

  display: none;
  align-items: center;
  justify-content: center;

  pointer-events: none;
  .dialog {
    pointer-events: auto;
    background: #fff;

    border: 1px solid #888888;
    border-radius: 3px;

    max-width: 50vw;

    padding: 0.5rem 0.5rem;

    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);

    .dialog-title {
      font-size: 1.3rem;
      font-weight: normal;
      color: #333;
      padding:  0 0.5rem;
    }

    .dialog-msg {
      color: #333;
      padding:  0 0.5rem;
    }

    .button-wrap {
      display: flex;
      justify-content: space-between;

      button {
        outline: none;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 3px;
        margin: 0.5rem 0.5rem;
      }

      button[id="dialog-cancel"] {
        background: #c25252;
        color: #fff;
      }

      button[id="dialog-confirm"] {
        background: #89ba2e;
        color: #fff;
      }
    }
  }
}

canvas.fs-panel {
  width: 20rem;
  //width: 2.5rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  background: #222;
  transition: all 200ms;

  transform: translateX(-17.5rem);
}